body {
    font-family: Roboto, sans-serif;
    margin: 0;
    display: flex;
    flex: 1;
    flex-direction: column;
}

.header {
    background: #1F2937;
    display: flex;
    padding-left: 300px;
    padding-right: 300px;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}

.header-text {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
}

ul {
    padding: 0;
    list-style: none;
    display: flex;
    gap: 24px;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #E5E7EB
}

.content {
    background: #1F2937;
    display: flex;
    justify-content: space-between;
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 180px;
    padding-bottom: 200px;
    gap: 24px;
}

.content-text {
    max-height: 250px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
}

.content-text .title {
    color: #F9FAF8;
    font-weight: 900;
    font-size: 48px;
}

.content-text .text {
    color: #E5E7EB
}

.content-text .sign-up {
    background: #3882F6;
    color: #E5E7EB;
    border: 0;
    padding: 8px 18px;
    border-radius: 8px;
    font-weight: bold;
    max-width: fit-content;
}

.content .image {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #70747c;
    max-height: 250px;
    width: 450px;
    color: #E5E7EB;
    padding: 16px;
}

.information-title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    padding: 32px;
}

.info-box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    margin-bottom: 32px;
}

.info-box-image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 8px;
    border: 2px solid #3882F6;
    width: 150px;
    height: 150px;
}

.info-box .text {
    display: flex;
    max-width: 155px;
    text-align: center;
    margin-top: 12px;
}